.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.75);

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 24px;
}

.content {
    background: transparent;
    border: none;
    outline: none;

    width: 96vw;
    height: 96vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img {
    width: 96vw;
    height: 96vh;

    object-fit: contain;
    border-radius: 8px;
    display: block;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: zoom-out;
}