.button {
    display: block;
    margin: 24px auto 40px;

    padding: 12px 24px;
    font-size: 16px;
    font-weight: 500;

    background-color: #4a56b8;
    /* той самий синій */
    color: #ffffff;

    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background-color: #3f4aa8;
}

.button:active {
    background-color: #364098;
}